.complain-card {
    margin: 5%;
    max-width: 40%;
    padding: 20px 10px 10px 20px;
  }
  .mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  .mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  .mat-form-field{
      width: 100%;
  }
 .mat-card-actions{
     padding-left: 10px;
 }
